@import "./mixin.scss";

.moviePage {
  width: 100%;

  &__header {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: top;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    h1 {
      margin-bottom: 20px;
    }

    &--posterIMG {
      margin-top: 80px;
      width: 250px;
      height: 350px;
      border-radius: 10px;
      background-position: center;
      background-size: cover;

      @media (min-width: $Medium) {
        width: 300px;
        height: 510px;
      }
    }

    &--content {
      width: 100%;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      padding: 20px;
      margin-top: 20px;

      @media (min-width: $Medium) {
        width: 50%;
      }

      h3 {
        margin: 20px 0;
      }

      .overView {
        margin: 10px 0;
        line-height: 25px;
      }

      .moreTools {
        display: flex;
        align-items: center;

        .vote {
          border-radius: 50%;
          background: #081c22;
          font-size: 24px;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;
          padding: 15px;
          position: relative;
          cursor: pointer;
          transition: 0.3s;
          transition-property: transform font-size;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 70%;
            border-radius: 50%;
            border: 4px solid rgba(255, 0, 0, 0.603);
            transition: 0.3s;
            transition-property: width height;
          }

          &:hover {
            transform: scale(1.1);
            font-size: 28px;
          }

          &:hover::before {
            width: 100%;
            height: 100%;
          }
        }

        .playVideo {
          display: flex;
          align-items: center;
          margin-left: 20px;
          text-decoration: none;
          color: #ffffff;

          &:hover {
            opacity: 0.5;
          }

          h3 {
            margin-left: 10px;
          }
        }
      }

      .details {
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 10px;
        align-items: center;

        .genres {
          background: #081c22;
          padding: 5px 10px;
          border-radius: 999px;
          margin-left: 10px;
        }

        .runtime {
          margin-left: 10px;
        }
      }

      .back {
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: space-between;
        width: 90px;
        height: 35px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 10px;
        background: #2b2d42;
        border-radius: 999px;
        font-size: 16px;
        color: #fff;
      }
    }
  }

  .movie__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(5.88%, 27.45%, 27.06%, 1) 150px,
      rgba(10.59%, 36.47%, 36.08%, 0.84) 100%
    );
    z-index: 1;
  }

  &__wrapper {
    width: 100%;
    overflow: scroll;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
      to right,
      rgba(5.88%, 27.45%, 27.06%, 1) 150px,
      rgba(10.59%, 36.47%, 36.08%, 0.84) 100%
    );

    &::-webkit-scrollbar {
      display: none;
    }

    @media (min-width: $Medium) {
      overflow-y: scroll;
      height: 100%;
      flex-direction: row;
      padding: 0 100px;
    }

    @media (min-width: $Full) {
      padding: 0 200px;
    }
  }
}
