.trailerContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.918);
  z-index: 888;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
